In [ ]:
"""
1. A program which will find all such numbers divisible by 7 but are not a multiple of 5, 

between 2000 and 3000 (both included). The numbers obtained should be printed
in a comma-separated sequence on a single line.

"""

In [40]:
a = list()

for itervar in range(2000,3001):
    if itervar % 7 == 0 and itervar % 5 != 0: 
        print(itervar, end = ",")
        a.append(itervar)
        


#or

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

In [ ]:
# Alternative using lists

In [43]:

a = list()

for itervar in range(2000,3001):
    if itervar % 7 == 0 and itervar % 5 != 0: 
        #print(itervar, end = ",")
        a.append(itervar)
print(*a, sep = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

In [ ]:
"""
2.Write a Python program to accept the user's first and last name and 
then getting them printed in the the reverse order with a space between first name and last name
"""

In [58]:
print("This program will reverse your entire name")
first_n = input("Enter your first name\n")
last_n = input("Enter your last name\n")
full_n = first_n + " " +last_n
print(f"your reversed name is {full_n[::-1]}")

This program will reverse your entire name
Enter your first name
nithin
Enter your last name
rogan
your reversed name is nagor nihtin

In [ ]:
"""
Write a Python program to find the volume of a sphere with diameter 12 cm.

Formula: V=4/3 * Ï€ * r^3

"""

In [61]:
import math

dia_1 = "12cm"
dia_n = int(dia_1[0:2])
volume = (4/3 * math.pi * ((dia_n)//2) ** 3)
print(f"volume is {math.ceil(volume)} is cubic centimeters")

volume is 905 is cubic centimeters