In [2]:
l = [3,4,5,6,7,7]
len(l)

6

In [4]:
print("this is my print")

this is my print

In [5]:
type(l)

list

In [7]:
def test():
    pass

In [8]:
test()

In [9]:
def test1():
    print("this is my first fun")

In [10]:
test1()

this is my first fun

In [11]:
def sudh():
    print("this is my own function")

In [12]:
sudh()

this is my own function

In [13]:
sudh()

this is my own function

In [14]:
sudh()

this is my own function

In [15]:
def test2():
    print(1+2)

In [16]:
test2()

3

In [17]:
def test3(a,b):
    print(a+b)

In [19]:
test3(2,4)

6

In [20]:
test3(10,40)

50

In [22]:
test3(56,34)

90

In [23]:
test3("sudh" , "kumar")

sudhkumar

In [24]:
test3(4 , "sudh")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
def test4(a,b):
    if type(a) != str :
        print(str(a) + b )
    else :
        print(a+ b )

In [27]:
test4(4 , "sudh") + "kumar"

4sudh

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [28]:
type(test4(4 , "sudh") )

4sudh

NoneType

In [30]:
def test5(a,b) : 
    if type(a) != str:
        return str(a) + b 
    else :
        return a+b

In [32]:
type(test5(4 , "sudh"))

str

In [33]:
test5(4 , "sudh") + "kumar"

'4sudhkumar'

In [34]:
def test5(a,b):
    if type(a) != str:
        return str(a)+b
    else:
        return a+b

In [35]:
test5(5 , "sudh")

'5sudh'

In [36]:
def test6(a, b , c ):
    return a+2 , b+3 , c+4  , a+b+c

In [44]:
n = test6(3,4,6)

In [42]:
a = 10 
b = 4 
c = "sudh"
d = 56.45

In [43]:
a,b,c,d = 10 , 4 , "sudh" ,56.45

In [45]:
n

(5, 7, 10, 13)

In [47]:
x , y  , z , w  = test6(3,4,5)

In [48]:
x

5

In [49]:
y

7

In [50]:
z

9

In [51]:
w

12

In [52]:
_ , _ , _ , b  = test6(3,4,5)

In [55]:
b**4

20736

In [54]:
_

9

In [56]:
def test7(x,y):
    return x+y  , x , x**4 , x *y

In [59]:
test7(3,4)[2]/3

27.0

In [60]:
_,_ ,t ,_ = test7(3,4)

In [61]:
t

81

In [62]:
def test7(b,v,c):
    d = b*v*c
    f = b+v+c+d
    return d , f

In [64]:
a ,b = test7(4,5,6)

In [65]:
a

120

In [66]:
b

135

In [67]:
test7(4,5,6)

(120, 135)

In [72]:
l = ["sudh" , 3,4,5,6,"kumar" , 'a ' , 'b' , 56.45]

In [69]:
c = 0
for i in l:
    if type(i) == str:
        c += 1
print(c)

4

In [70]:
l1 = ["sudh" , 3,4,5,6,"kumar" , 'a ' , 'b' , 56.45 , 56,"df" , "dfsf"]

In [83]:
def test8(l):
    """this is my function where it will  try to return number of string var avaible inside list """
    c = 0
    for i in l:
        if type(i) == str:
            c += 1
    return c

In [84]:
test8(l)

4

In [80]:
test8(l1)

6

In [81]:
l2  = ["sudh" , 3,4,5,6,"kumar" , 'a ' , 'b' , 56,"df" , "dfsf"]

In [82]:
type(test8(l2))

int

In [95]:
def test9(b = 10,c = 6 ) :
    return c

In [100]:
_ , v = test9(4)

In [98]:
test9("sudh")

('sudh', 6)

In [99]:
def test9(b=10,c=6):    
    return b,c

In [101]:
v

6

In [102]:
def test10(a,b,c,n,v):
    return "this is my fun"

In [104]:
test10(2,3,4,5,6 , 7,8)

TypeError: test10() takes 5 positional arguments but 7 were given

In [105]:
def test11(*args) :
    return args

In [106]:
test11(3,4,5,6)

(3, 4, 5, 6)

In [107]:
test11(3,"sudh")

(3, 'sudh')

In [110]:
test11(4,5,6,7,8,9,"sdfsadf" , "dfsf")

(4, 5, 6, 7, 8, 9, 'sdfsadf', 'dfsf')

In [111]:
def test12(*args) :
    con = ""
    for i in args:
        if type(i) == str:
            con = con + i
    return con

In [114]:
test12(4,5,6,7,8,9,"sdfsadf" , "safdas" , "kumar " , [3,4,5,6,7,7])

'sdfsadfsafdaskumar '

In [115]:
test12("sudh" ,"kumar")

'sudhkumar'

In [116]:
test12("sudh" ,"kumar" , "ineuron")

'sudhkumarineuron'

In [117]:
test12("sudh" ,"kumar" , "ineuron" , 3,4,5,6,6)

'sudhkumarineuron'

In [118]:
def test12(*sudh) :
    con = ""
    for i in sudh:
        if type(i) == str:
            con = con + i
    return con

In [120]:
test12( 2,4,5,[1,3,5,'test'])

''

In [122]:
def test13(*args , a, b  , c ,d ) :
    return args , a, b, c, d

In [124]:
test13(3,4,5,6,6,7 , a = 45 , b = 56  , c = 23 , d =12 )

((3, 4, 5, 6, 6, 7), 45, 56, 23, 12)

In [125]:
def test14(**kwargs) :
    
    
    return kwargs

In [129]:
test14(a = 34,b = 56, c = 67 , sudh = [3,4,5,6,6])

{'a': 34, 'b': 56, 'c': 67, 'sudh': [3, 4, 5, 6, 6]}

In [130]:
sudh = "fsdf"

In [131]:
sudh

'fsdf'

In [132]:
def test14(**sudh) :
    
    
    return sudh

In [133]:
test14(34 = 34,b = 56, c = 67 , sudh = [3,4,5,6,6])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-133-eb00611ecc8c>, line 1)

In [134]:
34 = 34

SyntaxError: cannot assign to literal (<ipython-input-134-85e4d8d47dc6>, line 1)

In [135]:
def func(**kwargs):
    count = 0
    for e in kwargs.values():
        if type(e) == list:
            for ele in  e:
                if type(ele) == str:
                    count += 1
    return count
func(v1 = 2,v2 = 3,v3=4, v4=5,name="Mohamed", data=["ineuron", "MLDL", 2021])

2

In [136]:
def test14(**kwargs):
    x=[]
    for i in kwargs:
        if type(kwargs[i])==list:
            x.append(kwargs[i])
    return x

In [ ]:
def test15(**kwargs):
    l = [1,2,3,4,5,'abc']
    for k,v in kwargs.items():
        if v == l:
            return k
    return 'not found'